
@{
    ViewBag.Title = "TelaCertificados";
}

@Styles.Render("~/Content/certificados.css")

<h2>Certificados</h2>

<p style="font:24px arial, verdana; color: #121111">Baixe aqui todos os seus certificados de participação em eventos</p>

<p style="font:24px arial, verdana; color: darkgray">Ouvinte</p>
<div class="ouvinte">
    <p style="font:18px arial, verdana; margin: 0">Nome do Evento</p>
    <p style="text-align: left; font: 100 16px arial, verdana; color: white; margin-top: 15px;">
        <img src="~/Imagens/pdf.png" style="width: 25px; height: 25px; " />
        Baixar Certificado
    </p>
</div>
<br>
<div class="ouvinte" style="margin: 30px 0;">
    <p style="font:18px arial, verdana; margin: 0">Nome do Evento</p>
    <p style="text-align: left; font: 100 16px arial, verdana; color: white; margin-top: 15px;">
        <img src="~/Imagens/pdf.png" style="width: 25px; height: 25px; " />
        Baixar Certificado
    </p>
</div>
<br>


<br>
<p style="font:24px arial, verdana; color: darkgray">Voluntário</p>
<div class="voluntario" style="margin: 30px 0;">
    <p style="font:18px arial, verdana; margin: 0">Nome do Evento</p>
    <p style="text-align: left; font: 100 16px arial, verdana; color: white; margin-top: 15px;">
        <img src="~/Imagens/pdf.png" style="width: 25px; height: 25px; " />
        Baixar Certificado
    </p>
</div>
<br>

<br>
<p style="font:24px arial, verdana; color: darkgray">Palestrante</p>
<div class="palestrante" style="margin: 30px 0;">
    <p style="font:18px arial, verdana; margin: 0">Nome do Evento</p>
    <p style="text-align: left; font: 100 16px arial, verdana; color: white; margin-top: 15px;">
        <img src="~/Imagens/pdf.png" style="width: 25px; height: 25px; " />
        Baixar Certificado
    </p>
</div>


