
@{
    ViewBag.Title = "TelaEventos";
}

@Styles.Render("~/Content/eventos.css");
 
<h2>Tela Eventos</h2>

<div class="administrador">
    <br><br>
</div>

<div class="confirmado">
    <br><br>
</div>