@{ 
    Layout = null;
}

@Styles.Render("~/Content/index.css")
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="index-background" align="center">
        <br>

        <h1 align="center" class="text">DESCUBRA EVENTOS E MARQUE REUNIÕES COM SEUS PROFESSORES</h1>
        
        <div align="center"><img src="~/Images/smile.png" width="60px" height="60px"></div>

        <div class="container">

@using (Html.BeginForm("", "", FormMethod.Post))
{
    <h2>Você é aluno ou professor?</h2>

            <ul>
                <li>
                    
                    <input type="radio" id="opc-aluno" name="selector" value="aluno" onclick='tipoPessoa()'>
                    <label for="opc-aluno">Aluno</label>

                    <div class="check"></div>   
                </li>

                <li>
                    <input type="radio" id="opc-prof" name="selector" value="professor" onclick='tipoPessoa()'>
                    <label for="opc-prof">Professor</label>

                    <div class="check"><div class="inside"></div></div>
                </li>
            </ul>
            
}
        </div>
       
    </div>

</body>
</html>

<script type="text/javascript">

    function tipoPessoa() {
        alert('tipo: ' + getRadioValor('selector'));
    }

    function getRadioValor(name) {
        var rads = document.getElementsByName(name);

        for (var i = 0; i < rads.length; i++) {
            if (rads[i].checked) {
                return rads[i].value;
            }

        }

        return null;
    }

</script>
