.inputCadastro {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
}

.submitCadastro {
    width: 100%;
    background-color: #FFD700;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FFD700;
}

.login {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.deuRuim {
    color: red;
    font-family: Arial;
    font-size: 18px;
}
